{% extends 'base.html' %}

{% block content %}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for recipe in recipe_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ recipe.image.url }}" alt="" width="100%" height="225">

                    <div class="card-body">
                        <p style="text-align: center;"><b>{{ recipe.title }}</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'recipe:detail' pk=recipe.pk %}"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>&nbsp;
                                <a href="{% url 'recipe:edit' pk=recipe.pk %}"><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>&nbsp;
                                <a href="{% url 'recipe:delete' pk=recipe.pk %}"><button type="button" class="btn btn-sm btn-outline-secondary">Delete</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}